# Avito API Configuration
AVITO_CLIENT_ID=1cIpj04gx6i3v7Ym5wNj
AVITO_CLIENT_SECRET=IncASFD6M42y86XctwJitqCwHVE5y7AivuOgkfoK
AVITO_REDIRECT_URI=https://avito.tamgdemaslocrm.ru/callback

# Flask Configuration
SECRET_KEY=your-secret-key-here
FLASK_ENV=production

